<div class="card " style="margin: 20px">
  <div class="card-body" style="margin-bottom: 30px">
    <div class="row">
      <!--<div class="col-md-12 col-sm-12" style="margin-top: 20px">-->
        <div class="col-md-6">
          <div class="col-md-6 mx-auto col-sm-11">
            <div class="select" >
              <a routerLink="../member/viewMember" ><h3 style="padding-left: 10px;"><i class="fa fa-user fa-2x" style="padding:5px" aria-hidden="true"></i>Get Details by Student ID</h3></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6 mx-auto col-sm-11 ">
            <div class="select" >
              <a> <h3 style="padding-left: 10px;"><i class="fa fa-book fa-2x" style="padding:5px" aria-hidden="true"></i>Get Details by Book ID</h3></a>
            </div>
          </div>
        </div>
      <!--</div>-->
    </div>
    <div class="row">
      <!--<div class="col-md-12 col-sm-12" style="margin-top: 70px">-->
        <div class="col-md-6">
          <div class="col-md-6 mx-auto col-sm-11 " >
            <div class="select" >
              <a><h3 style="padding-left: 10px;" ><i class="fa fa-book fa-2x" style="padding:5px" aria-hidden="true"></i>Issue a Book</h3></a>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-6 mx-auto col-sm-11 ">
            <div class="select" >
              <a ><h3 style="padding-left: 10px;"><i class="fa fa-book fa-2x" style="padding:5px" aria-hidden="true"></i>Return a book</h3></a>
            </div>
          </div>
        </div>
      <!--</div>-->
    </div>
  </div>
</div>
