.select {
  height: 150px;
  padding:10px;
  margin-top: 60px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(51, 122, 183, 1);
  background-position: center;
}
.select>h3{
  color: white;
}
.select>a>h3{
  color: white;
}
.select:hover{
  box-shadow: 0px 0px 10px 5px #00BFFF;
}
