<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-md-12" style="max-height: 100%;min-height: 100vh;">
    <div class="col-md-4 mx-auto  col-sm-12">
      <div class="login-form col-md-12 ">
        <div style="text-align: center">
        </div>


        <div class="card  loginform">

          <div>

            <h1 style="text-align: center;color: white">LOG IN</h1>

          </div>
          <div class="card-body">
            <div [hidden]="isLogin">
              <form name="loginForm"  (ngSubmit)="login()" style="margin-top:30px;margin-bottom: 30px;" novalidate>

                <div>
                  <input type="text" name="username" class="form-control input-lg" [(ngModel)]="model.username" placeholder="Username">

                </div>

                <div style="margin-top: 20px">

                  <input type="password" name="password" class="form-control input-lg" [(ngModel)]="model.password" placeholder="Password">

                </div>

                <div style="margin-top: 35px">

                  <button type="submit" class=" form-control btn-primary btn" style="color: white;font-size: 16pt;background-color: #00bfe8">LOG IN</button>

                </div>
                <div style="margin-top: 25px">
                  <a class ='btn' (click)="forgot()" style="color: white"><h5>Forgot Password</h5></a>
                </div>
              </form>
            </div>
            <div [hidden]="!isLogin">
              <form name="loginForm" (ngSubmit)="login()" style="margin-top:30px;margin-bottom: 30px;" novalidate>

                <div>

                  <input type="text" name="username" class="form-control input-lg" [(ngModel)]="model.username" placeholder="Username">

                </div>

                <div style="margin-top: 35px">

                  <button type="submit" class=" form-control btn-primary btn " style="color: white;font-size: 16pt;background-color: #00bfe8">RESET </button>

                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
