<!--The content below is only a placeholder and can be replaced.-->
<ng-http-loader></ng-http-loader>
<div class="container">
  <div class="col-md-12" style="max-height: 100%;min-height: 100vh;">
    <div class="col-md-4 mx-auto  col-sm-12">
      <div class="login-form col-md-12 ">
        <div style="text-align: center">
        </div>


        <div class="card  loginform">

          <div>

            <h2 style="text-align: center;color: white">LOG IN</h2>

          </div>
          <div class="card-body">
            <div [hidden]="isLogin">
              <form name="loginForm" id="loginForm" #loginForm="ngForm" (ngSubmit)="login()" style="margin-top:10px;margin-bottom: 10px;"
                novalidate>

                <div class="form-group">
                  <input type="text" name="username" id='username' #username="ngModel" class="form-control input-lg"
                    [(ngModel)]="model.username" placeholder="Username" required>
                  <span class="help-block" [hidden]="username.valid || username.pristine">
                    UserName is required
                  </span>
                </div>

                <div class="form-group">
                  <input type="password" name="password" id='password' #password="ngModel" class="form-control input-lg"
                    minlength="5" [(ngModel)]="model.password" placeholder="Password" required>
                  <Span class="help-block" [hidden]="password.valid || password.pristine">
                    Password Min-lenth 5 is required
                  </Span>
                </div>

                <div class="form-group">

                  <button type="submit" [disabled]="!loginForm.form.valid" class=" form-control btn-primary btn" style="color: white;font-size: 12pt;background-color: #00bfe8">LOG
                    IN</button>

                </div>
                <div class="form-group">
                  <a class='btn' (click)="forgot()" style="color: white">Forgot Password</a>
                </div>
              </form>
            </div>
            <div [hidden]="!isLogin">
              <form name="loginForm" (ngSubmit)="reset()" style="margin-top:10px;margin-bottom: 10px;" novalidate>

                <div class="form-group">

                  <input type="text" name="username"  class="form-control input-lg" [(ngModel)]="model.username"
                    placeholder="Username" required>

                </div>

                <div class="form-group">

                  <button type="submit" class=" form-control btn-primary btn " style="color: white;font-size: 12pt;background-color: #00bfe8">RESET
                  </button>

                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
