<div class="col-md-12">
  <h3 style="padding-left: 10px">All Books</h3>
  <div class="card" style="margin: 10px; border-radius: 10px">
    <div class="card-header">
      <div class="input-group col-md-3 col-sm-10" style="margin: 10px; border-radius: 10px ">
        <input type="text" class="form-control" ng-model="searchText" placeholder="search">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table table-responsive ">
        <table class="table table-bordered table-striped table-responsive-md table-responsive-sm table-condensed table-hover "
          [mfData]='data' #mf='mfDataTable' [mfRowsOnPage]="5">
          <thead>
            <tr>
              <th class="id">
                <mfDefaultSorter by="bookId">Book ID</mfDefaultSorter>
              </th>
              <th class="name">
                <mfDefaultSorter by="bookName">Book Name</mfDefaultSorter>
              </th>
              <th class="description">
                <mfDefaultSorter by="department">Deparment</mfDefaultSorter>
              </th>
              <th class="author">
                <mfDefaultSorter by="author">Author</mfDefaultSorter>
              </th>
              <th class="availableDate">
                <mfDefaultSorter by="availableDate">Avaliable Date</mfDefaultSorter>
              </th>
              <th class="isAvailable">
                <mfDefaultSorter by="isAvailable">Available</mfDefaultSorter>
              </th>
              <th class="field5"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of mf.data">
              <td>{{book.bookId}}</td>
              <td>{{book.bookName}}</td>
              <td>{{book.department }}</td>
              <td>{{book.author }}</td>
              <td>{{book.availableDate | date }}</td>
              <td>{{book.isAvailable}}</td>
              <td style="text-align: center;display: flex">
                <button class="btn btn-warning btn-sm" style="margin: 5px" (click)='open(content, book)'>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger btn-sm" style="margin: 5px" (click)='delete(book)'>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="updateBookForm" name="updateBookForm" (ngSubmit)="updateBook(book)" (ngSubmit)="modal.dismiss('Cross click')"
            novalidate>
            <div class="form-group ">
              <label>Book Id:</label>

              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input [disabled]="'true'" type="text" name="bookId" class="form-control" [(ngModel)]="book.bookId"
                  required>
              </div>
            </div>
            <div class="form-group ">
              <label>Book Name:</label>

              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input type="text" name="bookName" class="form-control" [(ngModel)]="book.bookName" required>
              </div>
            </div>
            <div class="form-group ">
              <label>Author Name:</label>

              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <input type="text" name="author" class="form-control" [(ngModel)]="book.author" required>

              </div>
            </div>
            <div class="form-group ">
              <label>Department Name:</label>

              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text"></span>
                </div>
                <select name="department" class="form-control" [(ngModel)]="book.department" required>
                  <option value="ECE">ECE</option>
                  <option value="EEE">EEE</option>
                  <option value="CSE">CSE</option>
                  <option value="MECH">MECH</option>
                  <option value="CIVIL">CIVIL</option>
                  <option value="MCA">MCA</option>
                  <option value="MBA">MBA</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block btn-success">Submit</button>
            </div>
          </form>
        </div>
      </ng-template>
    </div>
  </div>
</div>
