<div class="col-md-12">
  <h3 style="padding-left: 10px">View Member</h3>
  <div class="card" style="margin: 10px; border-radius: 10px">
    <div class="card-header">
      <div class="input-group col-md-3 col-sm-10" style="margin: 10px; border-radius: 10px ">
        <input type="text" class="form-control" [(ngModel)]="memberId" placeholder="Ex M1001">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <i class="fa fa-search" (click)='viewmember(memberId)'></i>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">

    </div>
  </div>
</div>
