<ng-http-loader></ng-http-loader>
<div class="col-md-12">
  <h3 style="padding-left: 10px">Issued Books Log</h3>
  <div class="card" style="margin: 10px; border-radius: 10px">
    <div class="card-header">
      <div class="input-group col-md-3 col-sm-10" style="margin: 10px; border-radius: 10px ">
        <input type="text" class="form-control" ng-model="searchText" placeholder="search">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table table-responsive ">
        <table class="table table-bordered table-striped table-responsive-md table-responsive-sm table-condensed table-hover "
          [mfData]='data' #mf='mfDataTable' [mfRowsOnPage]="5">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="bookIssueId">Book Issue ID</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="bookId">Book ID</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="memberId">Member Id</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="issuedBy">Issued By</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="issuedDate">Issue Date</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="returnDate">Return Date</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of mf.data">
              <td>{{book.bookIssueId}}</td>
              <td>{{book.bookId}}</td>
              <td>{{book.memberId }}</td>
              <td>{{book.issuedBy }}</td>
              <td>{{book.issuedDate | date }}</td>
              <td>{{book.returnDate | date}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
